<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yetthin.web.persistence.GroupMapper" >
  <resultMap id="BaseResultMap" type="com.yetthin.web.domain.Group" >
    <id column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="group_desc" property="groupDesc" jdbcType="VARCHAR" />
  </resultMap>
 
	<resultMap type="com.yetthin.web.domain.Group" id="groupType" extends="BaseResultMap">
		<collection property="users" ofType="com.yetthin.web.domain.User">
			<result column="user_id" property="userId" jdbcType="INTEGER"/>
			<result column="user_name" property="userName" jdbcType="VARCHAR"/>
			<result column="user_email" property="userEmail" jdbcType="VARCHAR"/>
			<result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
		</collection>
	</resultMap>
  <sql id="Base_Column_List" >
    group_id, group_name, group_desc
  </sql>
  <sql id="List">
		g.group_id,g.group_name,g.group_desc,u.user_id,u.user_name,u.user_email,u.user_phone
	</sql>
 
 	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="groupType">
		select 
		<include refid="List"></include>
		from Ggroup g left join group_user gu on g.group_id=gu.group_id
		left join user u on u.user_id = gu.user_id
		where g.group_id =#{id}
		</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Ggroup
    where group_id = #{groupId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yetthin.web.domain.Group" >
    <selectKey resultType="java.lang.Integer" keyProperty="groupId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Ggroup (group_id, group_name, group_desc
      )
    values (#{groupId,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, #{groupDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yetthin.web.domain.Group" >
    <selectKey resultType="java.lang.Integer" keyProperty="groupId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Ggroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      group_id,
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="groupDesc != null" >
        group_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{groupId,jdbcType=INTEGER},
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupDesc != null" >
        #{groupDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yetthin.web.domain.Group" >
    update Ggroup
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupDesc != null" >
        group_desc = #{groupDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where group_id = #{groupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yetthin.web.domain.Group" >
    update Ggroup
    set group_name = #{groupName,jdbcType=VARCHAR},
      group_desc = #{groupDesc,jdbcType=VARCHAR}
    where group_id = #{groupId,jdbcType=INTEGER}
  </update>
  <select id="countById" parameterType="java.lang.Integer" 
  resultType="java.lang.Integer">
 	select count(group_id) from Ggroup
  </select>
  <select id="selectAll"  resultMap="groupType">
	select 
	<include refid="List"></include>   
 	from Ggroup g left join group_user gu on g.group_id=gu.group_id
		left join user u on u.user_id = gu.user_id
  </select>
</mapper>